body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/*
Challenge:
1. Get this layout looking like the 
   screenshots on the slide.
*/
header {
    background: #282828;
    color: #fff;

}

ul {
    margin-top: 0;
    list-style: none;
    display: flex;
    padding: 25px;
    padding-left: 15px;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 18px;
    font-weight: 700
}

.icon {
    width: 25px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px
}
.item {
    position: relative;

}
.item-img {
    width: 100%;
    height: 100%;
   display: block;
}

.caption {
        display: flex;
        /* align-content:; */
            /* align-items: center; */
            gap: 20px;
    margin: 0px 25px;
}

button{
    /* margin: auto; */
    align-self: center;
    background-color: #cd6858;
    color: whitesmoke;
    border: none;
    padding: 10px;
}

.align-right {
    /* 
Challenge:
1. Add a line of CSS to position the menu 
   icon at the right-hand end of the ul 
   element. The logo and location pin should 
   remain where they are.
*/

    margin-left: auto;

}


.img-banner {
    /*
Challenge:
1. Position the image banner at the top left 
   of the first image as per the slide. What
   CSS do you need to add to the parent 
   element to make this work?
*/
    background-color: #cd6858;
    color: #f5f5f5;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;    

}

.chatbox-bg{
    background-color: orange;
    border-radius: 50%;
   width: 40px;
    height: 40px;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chatbox-img{
    width: 50%;
    margin: auto;

}